{{ form_start(form, {'attr': {'class': 'form-horizontal m-t-lg'} })  }}
<div class="row m-b-sm">
    <div class="col-md-offset-7 col-md-2 text-right">Quantité : </div>
    <div class="col-md-3">
        {{ form_widget(form.quantity, {'attr' : {'class' : 'form-control'} }) }}
    </div>
</div>
{% if product.variants|length > 0 %}
    <div class="row m-b-sm">
        <div class="col-md-offset-7 col-md-2 text-right">Modèle : </div>
        <div class="col-md-3">
            {{ form_widget(form.product, {'attr' : {'class' : 'form-control'} }) }}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-offset-9 col-md-2">
        <button class="btn btn-primary" type="submit">Commander</button>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
