{% extends "front/layout.html.twig" %}

{% block meta %}<meta name="description" content="{{ newsletter.descriptionSEO }}">{% endblock %}

{% block title newsletter.titleSEO %}

{% block sections %}
    <section class="section-newsletter">
        <div class="container bg-brown pt-4">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="background">{{ newsletter.title }}</h2>
                    <div class="newsletter-image">
                        {% if newsletter.image %}
                            <img class="img-fluid" src="{{ path('newsletter_image_view', {'image_id': newsletter.image.id}) }}" alt="">
                        {% endif %}
                    </div>
                    <p class="m-t-md text-justify">{{ newsletter.content|raw }}</p>
                    <p>
                        <a class="btn btn-primary m-t-md" href="{{ path('front_home') }}">
                            <span class="text">Retour</span>
                            <br>
                            <span class="icon">
                                <img src="{{ asset('template/cassis-alice/img/wave.png') }}">
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include 'front/layout/partial/partners.html.twig' %}
{% endblock %}
