{% extends "front/layout.html.twig" %}

{% block meta %}<meta name="description" content="{{ newsletter.descriptionSEO }}">{% endblock %}

{% block title newsletter.titleSEO %}

{% block sections %}
    <section class="section-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ newsletter.title }}</h2>
                    <div class="newsletter-image">
                        <img class="img-responsive" src="{{ path('newsletter_image_view', {'image_id': newsletter.image.id}) }}" alt="">
                    </div>
                    <p class="m-t-md text-justify">{{ newsletter.content|nl2br }}</p>
                    <p><a class="btn btn-primary m-t-md" href="{{ path('front_home') }}">Retour</a></p>
                </div>
            </div>
        </div>
    </section>
    {{ render(controller('AppBundle:Front/Home:products', {'max': 3})) }}
{% endblock %}
