{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste des points de ventes</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Liste des points de ventes</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                <a href="{{ path('admin_point_of_sales_add') }}" class="btn btn-primary btn-sm">Ajouter un point de ventes</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>Liste des points de ventes</h4>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for pointOfSale in pointOfSales %}
                                <tr>
                                    <td class="project-title" nowrap>
                                        <p>
                                            <strong class="text-primary">{{ pointOfSale.address.company }}</strong>
                                            <br><small>{{ pointOfSale.address.address -}}
                                            <br>{{ pointOfSale.address.zipCode ~ ' ' ~ pointOfSale.address.city -}}
                                            <br>{{ pointOfSale.website }}</small>
                                        </p>
                                    </td>
                                    <td class="project-actions">
                                        <a href="{{ path('admin_point_of_sale_edit', {'pointOfSale': pointOfSale.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                                        <form class="inline" action="{{ url('admin_point_of_sale_delete') }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('point-of-sale-delete') }}" />
                                            <input type="hidden" name="pointOfSale" value="{{ pointOfSale.id }}" />
                                            <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><a href="{{ path('admin_point_of_sales_add') }}" class="btn btn-primary btn-sm">Ajouter un point de ventes</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
