{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste des attributs</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Liste des attributs</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                <a href="{{ path('admin_categories_attribute_add') }}" class="btn btn-primary btn-sm">Ajouter un attribut</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>Liste des attributs</h4>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for categoryAttribute in categoriesAttribute %}
                                <tr>
                                    <td nowrap>
                                        <strong>{{ categoryAttribute.label }}</strong>
                                    </td>
                                    <td nowrap>
                                        {% for attribute in categoryAttribute.attributes %}
                                            <div class="row m-b-xs">
                                                <div class="col-xs-9">
                                                    <span>{{ attribute.label }}</span>
                                                </div>
                                                <div class="col-xs-3">
                                                    <a class="btn btn-primary btn-xs" href="{{ path('admin_attribute_edit', {'id': attribute.id }) }}"><i class="fa fa-pencil"></i></a>
                                                    <a class="btn btn-danger btn-xs" href="{{ path('admin_attribute_delete', {'id': attribute.id }) }}"><i class="fa fa-times"></i></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <a class="btn btn-primary btn-sm" href="{{ path('admin_attributes_add', {'id': categoryAttribute.id }) }}">Ajouter une valeur</a>
                                    </td>
                                    <td class="project-actions">
                                        <a href="{{ path('admin_category_attribute_edit', {'id': categoryAttribute.id }) }}" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i> Modifier</a>
                                        <a href="{{ path('admin_category_attribute_delete', {'id': categoryAttribute.id }) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_categories_attribute_add') }}" class="btn btn-primary btn-sm">Ajouter un attribut</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
