{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Newsletters</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Home</a>
                </li>
                <li class="active">
                    <strong>Newsletters</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                <a href="{{ path('admin_newsletters_add') }}" class="btn btn-primary btn-sm">Add newsletter</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>Newsletters</h4>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for newsletter in newsletters %}
                                <tr>
                                    <td>
                                        {% if newsletter.published %}
                                            <label class="label label-info">online</label>
                                        {% else %}
                                            <label class="label label-default">offline</label>
                                        {% endif %}
                                    </td>
                                    <td class="project-title" nowrap>
                                        <a href="{{ path('admin_newsletter', {'id': newsletter.id }) }}">{{ newsletter.title }}</a>
                                        <br>
                                        <p style="width:350px;overflow: hidden; text-overflow: ellipsis;">
                                            <small>{{ newsletter.content }}</small>
                                        </p>
                                    </td>
                                    <td class="project-actions">
                                        {% if not newsletter.published %}
                                            <a href="{{ path('admin_newsletter_publish', {'id': newsletter.id }) }}" class="btn btn-primary btn-sm">Publish</a>
                                        {% endif %}
                                        <a href="{{ path('admin_newsletter_edit', {'id': newsletter.id }) }}" class="btn btn-primary btn-sm">Edit</a>
                                        <a href="{{ path('admin_newsletter_delete', {'id': newsletter.id }) }}" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><a href="{{ path('admin_newsletters_add') }}" class="btn btn-primary btn-sm">Add newsletter</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
