{% extends "::layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ newsletter.title }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('admin_newsletters') }}">Newsletters</a>
                </li>
                <li class="active">
                    <strong>{{ newsletter.title }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Publish Newsletter</h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <div class="col-lg-12">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <strong>Confirm</strong>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
