<section class="last-products">
    <div class="container bg-brown">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="background">
                    <span>Quelques Produits</span>
                </h2>
                <p class="text-center mt-3">
                    <img src="{{ asset('template/cassis-alice/img/divider-1.png') }}" alt="" />
                </p>
            </div>
        </div>
        <div class="row products mt-3">
            {% for product in products %}
                <div class="col-md-4 product">
                    <p class="product-title text-center">
                        <a href="{{ path('front_product', {'category': product.category.slug, 'product': product.slug}) }}" class="btn btn-primary">{{ product.label }}</a>
                    </p>
                    <p class="product-image text-center">
                        {% if product.image %}
                            <img class="img-fluid img-shadow" src="{{ path('product_image_view', {'image_id': product.image.id}) }}" alt="">
                        {% else %}
                            <img class="img-fluid img-shadow" src="{{ path('product_image_view', {'image_id': 0}) }}" alt="">
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
