{% set user_offer = null %}
{% if app.user is not null %}
    {% set user_offer = app.user.offer %}
{% endif %}
<section class="last-products">
    <div class="container">
        <h2 class="text-center">Nos derniers produits</h2>
        <div class="row products">
            {% for product in products %}
                <div class="col-md-4 product">
                    <p class="text-center">
                        <img src="{{ asset('template/coutellerie/img/img_product_separator.png') }}" alt="">
                    </p>
                    <h3 class="text-center">{{ product.label }}</h3>
                    <p class="product-image text-center">
                        {% set path_img = path('product_image_view', {'product_id': 0, 'image_id': 0}) %}
                        {% if product.images|length > 0 %}
                            {% set path_img = path('product_image_view', {'product_id': product.id, 'image_id': product.images[0].id}) %}
                        {% endif %}
                        <img class="img-responsive img-circle img-shadow" src="{{ path_img }}" alt="">
                    </p>
                    <ul class="product-price">
                        <li>
                            <span>Prix:</span>
                            <span>{{ product.price(user_offer)|number_format(2, '.', ' ') }}€</span>
                        </li>
                    </ul>
                    <br class="clear">
                    <p class="text-center m-t-lg m-b-lg">
                        <a href="{{ path('front_product', {'category': product.category.slug, 'product': product.slug}) }}" class="btn btn-primary">+ de détails</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <p class="text-center m-t-lg">
            <a href="#" class="btn btn-primary">Découvrir notre catalogue</a>
        </p>
    </div>
</section>
