<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Geoffrey Chameroy">

        <title>{% block title '' %}</title>

        <link href="{{ asset('inspinia/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/plugins/slick/slick.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/plugins/slick/slick-theme.css') }}" rel="stylesheet">
        {% block stylesheets '' %}
    </head>

    <body class="{% block body_theme '' %} {% block body_class '' %}">
        {% block wrapper %}
            <div id="wrapper">
                {% block sidebar %}
                    {% include 'admin/layout/sidebar.html.twig' %}
                {% endblock %}
                {% block page_wrapper %}
                    <div id="page-wrapper" class="gray-bg">
                        {% block page_head %}
                            {% include 'admin/layout/page_header.html.twig' %}
                        {% endblock %}
                        {% block breadcrumb '' %}
                        {% block wrapper_content '' %}

                        <div class="footer">
                            <div class="pull-right">with <i class="fa fa-heart"></i> by <strong>Geoffrey Chameroy</strong></div>
                            <div><strong>Copyright</strong> Example Company &copy; 2017</div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        <script src="{{ asset('inspinia/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('inspinia/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('inspinia/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
        <script src="{{ asset('inspinia/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
        <script src="{{ asset('inspinia/js/inspinia.js') }}"></script>
        <script src="{{ asset('inspinia/plugins/pace/pace.min.js') }}"></script>
        <script src="{{ asset('inspinia/plugins/slick/slick.min.js') }}"></script>
        {% block javascripts '' %}
    </body>
</html>
