{% extends "::layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Create Product</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ path('admin_products') }}">Product List</a>
                </li>
                <li class="active">
                    <strong>Create Product</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Create product</h4>
                    &nbsp;
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Label</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.label, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Price</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.price, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Category</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.category, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <strong>Save</strong>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
