{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ product.label }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_products') }}">Liste des produits</a>
                </li>
                <li class="active">
                    <strong>{{ product.label }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Modifier un produit</h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nom</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.label, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Prix</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.price, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Titre SEO</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.titleSEO, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description SEO</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.descriptionSEO, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Catégorie</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.category, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="col-lg-2">
                            <div class="btn btn-sm btn-primary modal_add_category">Ajouter une categorie</div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2 control-label">Attributs</label>
                        <div class="col-lg-10">
                            {% for category_attribute in categories_attribute %}
                                <div class="col-xs-3">
                                    <h5 class="clickCategoryAttribute" data-id="{{ category_attribute.id }}">
                                        <span class="label label-info">{{ category_attribute.label }}</span>
                                    </h5>
                                    <div class="listAttribute">
                                        {% for attribute in category_attribute.attributes %}
                                            <p>
                                                <input class="i-checks" type="checkbox" {% if attribute in product.attributes %} checked {% endif %} name="attributes[]" value="{{ attribute.id }}">
                                                <span>{{ attribute.label }}</span>
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <strong>Enregistrer</strong>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}