{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ product.label }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboards</a>
                </li>
                <li>
                    <a href="{{ path('admin_products') }}">Liste des produits</a>
                </li>
                <li class="active">
                    <strong>{{ product.label }}</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h4>Modifier un produit</h4>
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Nom</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.label, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Description</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Prix</label>
                        <div class="col-lg-10">
                            {{ form_widget(form.price, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Catégorie</label>
                        <div class="col-lg-8">
                            {{ form_widget(form.category, {'attr' : {'class' : 'form-control'} }) }}
                        </div>
                        <div class="col-lg-2">
                            <div class="btn btn-sm btn-primary modal_add_category">Ajouter une categorie</div>
                        </div>
                    </div>
                    {% for category_attribute in categories_attribute %}
                        <div class="form-group">
                            <h5 class="clickCategoryAttribute" data-id="{{ category_attribute.id }}">
                                <span>{{ category_attribute.label }}</span>
                                <i class="fa fa-arrow-down"></i>
                            </h5>
                            <div class="listAttribute" style="display: none"></div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <button class="btn btn-sm btn-primary" type="submit">
                                <strong>Enregistrer</strong>
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
           $('.clickCategoryAttribute').each(function(){
               var category_id = $(this).attr('data-id');
               getAttributes(category_id, true);
           });
        });
        $('.modal_add_category').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            $.get('{{ path('admin_add_category') }}').done(function(response){
                $(response).modal();
            });
        });
        $('.clickCategoryAttribute').click(function (e) {
            var listAttributes = $(this).parent().find('.listAttribute');
            var category_id = $(this).attr('data-id');

            listAttributes.toggle();
            $(this).find('i').toggleClass('fa-arrow-down', 'fa-arrow-up');
            $(this).find('i').toggleClass('fa-arrow-up', 'fa-arrow-down');

            getAttributes(category_id, false);
        });
        function getAttributes(category_id, start)
        {
            var divCategory = $('.clickCategoryAttribute[data-id='+category_id+']');
            var listAttributes = divCategory.parent().find('.listAttribute');
            $.ajax({
                type: 'POST',
                url: '{{ path('admin_add_product_attributes') }}',
                data: {
                    category_id: category_id,
                    product_id: "{{ product.id }}"
                },
                success: function(jqXHR){
                    listAttributes.html(jqXHR);
                    if (start) {
                        var display = false;
                        listAttributes.find('input').each(function(){
                            if ($(this).is(':checked')) {
                                display = true;
                            }
                        });
                        if (display) {
                            listAttributes.toggle();
                            divCategory.find('i').toggleClass('fa-arrow-down', 'fa-arrow-up');
                            divCategory.find('i').toggleClass('fa-arrow-up', 'fa-arrow-down');
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
