<div id="{{ tabId }}" data-variant="{{ product.id }}" class="tab-pane {% if selected %}active{% endif %}">
    <div class="panel-body">
        <div class="col-md-3">
            {% if product.image %}
                <img alt="image" class="img-responsive" src="{{ path('product_image_view', {'image_id': product.image.id}) }}" />
                <button class="m-t-lg btn btn-primary action_product_image_add">Modifier l'image</button>
            {% else %}
                <img alt="image" class="img-responsive" src="{{ path('product_image_view', {'image_id': 0}) }}" />
                <button class="btn btn-primary action_product_image_add">Ajouter une image</button>
            {% endif %}
        </div>
        <div class="col-md-9">
            <h2>{{ product.variantName }}</h2>
            <h3><small>Réf.</small> {{ product.reference }}</h3>

            <div class="m-t-md">
                <table>
                    {% for price in product.prices %}
                        <tr>
                            <td width="200"><strong>{{ price.offer.label }}</strong></td>
                            <td>{{ price.price|number_format(2, ',', ' ') }} € <small>HT</small></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="m-t-sm">
                    {% if product.isPublished %}
                        <form class="inline" action="{{ url('admin_product_unpublish') }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('product-unpublish') }}" />
                            <input type="hidden" name="product" value="{{ product.id }}" />
                            <input type="hidden" name="redirect" value="{{ path('admin_product', {'id': product.parent.id}) }}" />
                            <button class="btn btn-warning btn-sm" type="submit">Dépublier</button>
                        </form>
                    {% else %}
                        <form class="inline" action="{{ url('admin_product_publish') }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('product-publish') }}" />
                            <input type="hidden" name="product" value="{{ product.id }}" />
                            <input type="hidden" name="redirect" value="{{ path('admin_product', {'id': product.parent.id}) }}" />
                            <button class="btn btn-primary btn-sm" type="submit">Publier</button>
                        </form>
                    {% endif %}
                    <button class="btn btn-sm btn-primary action_product_variant_edit">Editer</button>
                </div>
            </div>
        </div>
    </div>
</div>
