{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ product.label }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_products') }}">Liste des produits</a>
                </li>
                <li class="active">
                    <strong>{{ product.label }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                {% if not product.published %}
                    <a href="{{ path('admin_product_publish', {'id': product.id }) }}" class="btn btn-primary btn-sm">Publier</a>
                {% endif %}
                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">Editer</a>
                <a href="{{ path('admin_product_delete', {'id': product.id}) }}" class="btn btn-danger btn-sm">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox product-detail">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="product-images" >
                                    {% for image in product.images %}
                                        <div>
                                            <div class="image-imitation">
                                                <img alt="image" class="img-preview" src="{{ path('product_image_view', {'product_id': product.id, 'image_id': image.id}) }}" />
                                            </div>
                                        </div>
                                    {% else %}
                                        <div>
                                            <div class="image-imitation">No Image</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-7">
                                <h2 class="font-bold m-b-xs">
                                    <span>{{ product.label }}</span>
                                    {% if product.published %}
                                        <label class="label label-info m-l-md">en ligne</label>
                                    {% else %}
                                        <label class="label label-default m-l-md">hors ligne</label>
                                    {% endif %}
                                </h2>
                                <div class="m-t-md">
                                    <h2 class="product-main-price">{{ product.price|number_format(2, '.') }}€ <small class="text-muted">Hors Taxes</small> </h2>
                                </div>
                                <hr>
                                <h4>Description</h4>
                                <div class="small text-muted">
                                    {{ product.description|nl2br }}
                                </div>
                                <dl class="small m-t-md">
                                    <dt>Categorie</dt>
                                    <dd>{{ product.category.label }}</dd>
                                </dl>
                                <dl class="small m-t-md">
                                    <dt>Titre SEO</dt>
                                    <dd>{{ product.titleSEO }}</dd>
                                </dl>
                                <dl class="small m-t-md">
                                    <dt>Description SEO</dt>
                                    <dd>{{ product.descriptionSEO }}</dd>
                                </dl>
                                <p>
                                    <button class="btn btn-primary action_product_image_add">Ajouter une image</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $('.product-images').slick({
                dots: true
            });
        });
        $('.action_product_image_add').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            $.get('{{ path('admin_product_add_image', { id: product.id }) }}').done(function(response){
                $(response).modal();
            });
        });
    </script>
{% endblock %}
