{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ product.label }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li>
                    <a href="{{ path('admin_products') }}">Liste des produits</a>
                </li>
                <li class="active">
                    <strong>{{ product.label }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                {% if product.published %}
                    <a href="{{ path('admin_product_unpublish', {'id': product.id }) }}" class="btn btn-warning btn-sm">Dépublier</a>
                {% else %}
                    <a href="{{ path('admin_product_publish', {'id': product.id }) }}" class="btn btn-primary btn-sm">Publier</a>
                {% endif %}
                <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-primary btn-sm">Editer</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <h2 class="font-bold">
                                        <span>{{ product.label }}</span>
                                        {% if product.published %}
                                            <label class="label label-info m-l-md">en ligne</label>
                                        {% else %}
                                            <label class="label label-default m-l-md">hors ligne</label>
                                        {% endif %}
                                    </h2>
                                    <p class="small text-muted">{{ product.description|nl2br }}</p>
                                </div>

                                <div class="m-t-md">
                                    <h4>En savoir plus</h4>
                                    <p>{{ product.more1|default('Aucune infrmations') }}</p>
                                </div>
                                <div class="m-t-md">
                                    <h4>Ingrédients</h4>
                                    <p>{{ product.more2|default('Aucune infrmations') }}</p>
                                </div>
                                <div class="m-t-md">
                                    <h4>Conseils dégustation</h4>
                                    <p>{{ product.more3|default('Aucune infrmations') }}</p>
                                </div>

                                <div class="m-t-md">
                                    <h4>Catégorie</h4>
                                    <p>{{ product.category.label }}</p>
                                </div>
                                <div class="m-t-md">
                                    <h4>Titre SEO</h4>
                                    <p>{{ product.titleSEO|default('Aucun titre SEO') }}</p>
                                </div>
                                <div class="m-t-md">
                                    <h4>Description SEO</h4>
                                    <p>{{ product.descriptionSEO|default('Aucune description SEO') }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-b-md">
            <div class="col-lg-12">
                <div class="tabs-container">
                    <div class="tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-product">{{ product.variants[0].variantName }}</a></li>
                            {% for variant in product.variants %}
                                <li><a data-toggle="tab" href="#tab-product-variant-{{ variant.id }}">{{ variant.variantName }}</a></li>
                            {% endfor %}
                            <li class=""><a class="action_product_variant_add">Ajouter une contenance</a></li>
                        </ul>
                        <div class="tab-content">
                            {% include 'admin/product/variant.html.twig' with {'tabId': 'tab-product', 'selected': true} %}
                            {% for product in product.variants %}
                                {% include 'admin/product/variant.html.twig' with {'tabId': 'tab-product-variant-' ~ product.id, 'selected': false} %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.product-images').slick({
                dots: true
            });
        });
        $('.action_product_image_add').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var variant = $(this).closest('[data-variant]').data('variant');
            console.log(variant);

            $.get('{{ path('admin_product_add_image', { id: product.id }) }}', {
                'variant': variant
            }).done(function (response) {
                $(response).modal();
            });
        });

        $('.action_product_price_add').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            $.get('{{ path('admin_product_skill_add', { id: product.id }) }}').done(function (response) {
                $(response).modal();
            });
        });

        $('.action_product_price_edit').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var skill = $(this).data('skill');

            $.get('{{ path('admin_product_skill_edit', { id: product.id }) }}', {
                'skill': skill
            }).done(function (response) {
                $(response).modal();
            });
        });

        $('.action_product_variant_add').click(function (e) {
            e.preventDefault();
            e.stopPropagation();

            $.get('{{ path('admin_product_variant_add', { id: product.id }) }}').done(function (response) {
                $(response).modal();
            });
        });

        $('.action_product_variant_edit').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var variant = $(this).closest('[data-variant]').data('variant');

            $.get('{{ path('admin_product_variant_edit', { id: product.id }) }}', {
                'variant': variant
            }).done(function (response) {
                $(response).modal();
            });
        });
    </script>
{% endblock %}
