<section class="contact">
    <div class="container">
        <h2>Nous contacter</h2>
        <div class="row">
            <div class="col-md-6">
                <aside class="aside">
                    <div class="aside-container">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'} })  }}
                            <div class="form-group">
                                <label class="control-label hidden">Nom</label>
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
                            </div>
                            <div class="form-group">
                                <label class="control-label hidden">Email</label>
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                            </div>
                            <div class="form-group">
                                <label class="control-label hidden">Sujet</label>
                                {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Sujet'} }) }}
                            </div>
                            <div class="form-group">
                                <label class="control-label hidden">Message</label>
                                {{ form_widget(form.message, {'attr': {'class': 'form-control no-resize', 'placeholder': 'Message', 'rows': 8} }) }}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Envoyer</button>
                            </div>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </aside>
            </div>
            <div class="col-md-6">
                <table class="contact-information">
                    <tr>
                        <td><i class="fa fa-search text-danger"></i></td>
                        <td>
                            <p>
                                <span><strong>Coutellerie Legendres</strong></span>
                                <br><span>35, rue Diderot</span>
                                <br><span>52200 Langre</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-phone text-danger"></i></td>
                        <td>
                            <p>+33(0) +.25.00.00.00</p>
                        </td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-envelope-o text-danger"></i></td>
                        <td>
                            <p>Utilisez notre formulaire de contact ci-contre</p>
                        </td>
                    </tr>
                </table>
                <div id="google-map" class="google-map"></div>
            </div>
        </div>
    </div>
</section>
