{% extends "front/layout.html.twig" %}

{% block sections %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Order<small class="m-l-md">1. Resume</small></h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Attribute</th>
                            <th class="text-center">Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for orderProduct in order.orderProducts %}
                            <tr>
                                <td>{{ orderProduct.product.label }}</td>
                                <td>{% if orderProduct.attribute is not null %}{{ orderProduct.attribute.label }}{% else %}None{% endif %}</td>
                                <td>{{ orderProduct.price|number_format(2, ',', ' ') }}€</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>Sub total</td>
                            <td>{{ order.price|number_format(2, ',', ' ') }}€</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Shipping fee</td>
                            <td>0,00€</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td>Total TTC</td>
                            <td>{{ order.price|number_format(2, ',', ' ') }}€</td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class=row">
                        <div class="col-md-3">
                            <p>
                                <a href="{{ path('front_home') }}" class="btn btn-primary">Continue shopping</a>
                            </p>
                        </div>
                        <div class="col-md-9">
                            <p class="text-right">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="accept">
                                    <span>I'm agree with <a href="#">therms of use</a> and <a href="#">therms of sale</a></span>
                                </label>
                                <a href="{{ path('client_login') }}" name="order" class="btn btn-primary m-l-md">Order</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('a[name="order"]').click(function() {
                if (false === $('input[name="accept"]').is(':checked')) {
                    window.alert('You must accept therms.');
                    return false;
                }
            });
        });
    </script>
{% endblock %}
