{% extends "admin/layout.html.twig" %}

{% block breadcrumb %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Liste des catégories</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin_home') }}">Dashboard</a>
                </li>
                <li class="active">
                    <strong>Liste des catégories</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
            <div class="title-action">
                <a href="{{ path('admin_categories_add') }}" class="btn btn-primary btn-sm">Ajouter une catégorie</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block wrapper_content %}
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h4>Liste des catégories</h4>
                </div>
                <div class="ibox-content">
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td>
                                        {% if category.published %}
                                            <label class="label label-info">en ligne</label>
                                        {% else %}
                                            <label class="label label-default">hors ligne</label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form class="inline" action="{{ url('admin_category_move') }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('category-move') }}" />
                                            <input type="hidden" name="category" value="{{ category.id }}" />
                                            <input type="hidden" name="direction" value="up" />
                                            <button type="submit" class="btn" {% if loop.first %}disabled{% endif %}>
                                                <i class="fa fa-arrow-up"></i>
                                            </button>
                                        </form>
                                        <form class="inline" action="{{ url('admin_category_move') }}" method="post">
                                            <input type="hidden" name="token" value="{{ csrf_token('category-move') }}" />
                                            <input type="hidden" name="category" value="{{ category.id }}" />
                                            <input type="hidden" name="direction" value="down" />
                                            <button type="submit" class="btn" {% if loop.last %}disabled{% endif %}>
                                                <i class="fa fa-arrow-down"></i>
                                            </button>
                                        </form>
                                    </td>
                                    <td class="project-title" nowrap>
                                        <span>{{ category.label }}</span>
                                        <br>
                                        <p style="width:350px;overflow: hidden; text-overflow: ellipsis;">
                                            <small>{{ category.description }}</small>
                                        </p>
                                    </td>
                                    <td class="project-actions">
                                        {% if not category.published %}
                                            <a href="{{ path('admin_category_publish', {'id': category.id }) }}" class="btn btn-primary btn-sm">Publier</a>
                                        {% endif %}
                                        <a href="{{ path('admin_category_edit', {'id': category.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                                        <a href="{{ path('admin_category_delete', {'id': category.id }) }}" class="btn btn-danger btn-sm">Supprimer</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td><a href="{{ path('admin_categories_add') }}" class="btn btn-primary btn-sm">Ajouter une catégorie</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
