<!DOCTYPE html>
{% spaceless %}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Geoffrey Chameroy">
        {% block meta '' %}

        <title>{% block title 'Coutellerie Legendre' %}</title>

        <link href="{{ asset('favicon.png') }}" rel="icon">
        <link href="{{ asset('inspinia/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/css/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('base/css/helper.css') }}" rel="stylesheet">
        <link href="{{ asset('template/coutellerie/css/style.css') }}" rel="stylesheet">
        {% block stylesheets '' %}
    </head>

    <body class="{% block body_theme '' %} {% block body_class '' %}">
        {% block content %}
            {% include 'front/layout/header.html.twig' %}
            {% block sections '' %}
            {% include 'front/layout/footer.html.twig' %}
        {% endblock %}

        <script src="{{ asset('inspinia/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('inspinia/js/bootstrap.min.js') }}"></script>
        {% block javascripts '' %}
    </body>
</html>
{% endspaceless %}
