<!DOCTYPE html>
{% spaceless %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Geoffrey Chameroy">

        <title>{% block title '' %}</title>

        <link href="{{ asset('inspinia/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('inspinia/css/animate.css') }}" rel="stylesheet">
        {% block stylesheets '' %}
    </head>

    <body class="{% block body_theme '' %} {% block body_class '' %}">
        {% block content %}
            {% include 'front/layout/header.html.twig' %}
            {{ render(controller('AppBundle:Front/Layout:menu')) }}
            {% block sections '' %}
        {% endblock %}

        <script src="{{ asset('inspinia/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('inspinia/js/bootstrap.min.js') }}"></script>
        {% block javascripts '' %}
    </body>
</html>
{% endspaceless %}
