{% extends "front/layout.html.twig" %}

{% block sections %}
    <div class="section">
        <div class="container bg-brown pt-4 pb-5">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="background">Nos Partenaires</h2>
                    <p class="text-justify">Retrouvez nos amis et partenaires avec qui nous partageons et développons chaque jour nos produits artisanaux. </p>
                    <p class="text-justify">Nous travaillons aux côtés d'agriculteurs, de commerçants, d'artisans, de collectifs et de professionnels passionnés pour créer et mettre en avant nos produits artisanaux un peu partout en France. </p>
                </div>
            </div>
            <div class="row pb-5">
                {% for partner in partners %}
                    <div class="col-md-6 mt-3">
                        <div class="row">
                            <div class="col-sm-6">
                                <img class="img-fluid height-160" src="{{ path('partner_image_view', {'image': partner.image.id}) }}" alt="" />
                            </div>
                            <div class="col-sm-6 pt-5">
                                <p>
                                    <span class="text-primary">{{ partner.address.company }}</span>
                                    <br>{{ partner.address.address -}}
                                    <br>{{ partner.address.zipCode ~ ' ' ~ partner.address.city -}}
                                    {% if partner.website %}
                                        <br>{{ partner.website -}}
                                    {% endif %}
                                    {% if partner.phone %}
                                        <br>Tél. : {{ partner.phone -}}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-12">
                                <hr class="mt-0">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'front/layout/partial/baseline.html.twig' %}
{% endblock %}
