{% extends "front/layout.html.twig" %}

{% block sections %}
    <div class="section">
        <div class="container bg-brown pt-4">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="background">Présentation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container">
                        <h1>L'amour des fruits rouges</h1>
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_1.jpg') }}" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                <p>L&rsquo;aventure des Cassis d&rsquo;Alice d&eacute;bute en 2004. <br />Cette ann&eacute;e-l&agrave;, nous ne savons pas encore ce qui nous attend.<br />Mari et femme et jeunes agriculteurs c&eacute;r&eacute;aliers dans le sud de la Haute-Marne, nous plantons 3 hectares de boutures de cassis en pr&eacute;vision d&rsquo;en exploiter les bourgeons.</p>
                <p>D&eacute;sireux d&rsquo;apporter une diversification &agrave; notre ferme, nous nous tournons vers cette production recherch&eacute;e en d&eacute;but des ann&eacute;es 2000. Les bourgeons sont alors exploit&eacute;s en industrie agro-alimentaire, en parfumerie ainsi qu&rsquo;en pharmacie.</p>
                <p>Mais la Vie est parfois bien farceuse&nbsp;!</p>
                <p>En 2005, nous effectuons notre premi&egrave;re r&eacute;colte de bourgeons mais on nous indique de suite que ce ne sera pas la peine de revenir avec une 2<sup>nde</sup> r&eacute;colte l&rsquo;ann&eacute;e suivante.<br /> D&eacute;&ccedil;us mais pas d&eacute;courag&eacute;s pour autant, nous d&eacute;cidons de laisser faire la Nature et de r&eacute;colter nos fruits pour les transformer.<br />Nous avions &eacute;t&eacute; bien inspir&eacute;s lors de la plantation puisque en 2004, nous avions s&eacute;lectionn&eacute;s 3 vari&eacute;t&eacute;s de cassis pouvant donner des fruits d&rsquo;excellente qualit&eacute;.</p>
                <p>Ainsi Le Bigrou, le Royal de Naple et le Noir de Bourgogne allaient nous d&eacute;livrer leurs 1<sup>ers</sup> tr&eacute;sors&hellip;</p>
                <p>L&rsquo;&eacute;t&eacute; 2006 n&rsquo;est pas de tout repos.</p>
                <p>Nous r&eacute;coltons, trions, et &eacute;laborons nos premi&egrave;res recettes.</p>
                <p>Dans la famille maternelle de Philippe, une antique recette&nbsp; de liqueur de cassis traversait les &acirc;ges pour r&eacute;galer les g&eacute;n&eacute;rations. Ni une, ni deux, nous d&eacute;cidons de suivre cette derni&egrave;re et nous sortons les bassines en cuivre et les cuill&egrave;res en bois&nbsp;!</p>
                <p>Notre &eacute;lixir de Cassis voit le jour, la confiture et la gel&eacute;e de cassis &eacute;galement.</p>
                <p>En farfouillant dans les greniers, nous tombons sur une magnifique photographie de notre a&iuml;eule Alice, qui sans s&rsquo;en douter, allait devenir notre image et nous inspirer notre nom.</p>
                <p>Les Cassis d&rsquo;Alice &eacute;taient n&eacute;s&nbsp;!</p>
                <p>Depuis 2006, les Cassis d&rsquo;Alice ont bien &eacute;volu&eacute;s.</p>
                <p>Tr&egrave;s vite, fraises, framboises, groseilles, m&ucirc;res et rhubarbes rejoignent les plantations de cassis pour compl&eacute;ter et diversifier nos gammes de produits.</p>
                <p>Nous travaillons, beaucoup, &eacute;norm&eacute;ment m&ecirc;me pour confectionner nos douceurs, pour les imaginer, les valoriser et les vendre. Tr&egrave;s vite nous trouvons notre client&egrave;le, qui comme nous, est passionn&eacute;e par le Bon. Nous &eacute;cumons toutes les foires, salons et autres manifestations gastronomiques pour nous permettre de nous faire conna&icirc;tre. L&rsquo;engouement ne se d&eacute;ment pas, les premiers clients professionnels nous sollicitent pour revendre nos produits. L&rsquo;aventure est bel et bien engag&eacute;e, c&rsquo;est parti&nbsp;!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container bg-brown pt-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <img src="{{ asset('template/cassis-alice/img/divider-2.png') }}" alt="" />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_2.png') }}" alt="" />
                    </p>
                </div>
                <div class="col-md-8 pt-5">
                    <h1 class="font-60">“ Des confitures artisanales<br>aux senteurs de fruits rouges ” </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <img src="{{ asset('template/cassis-alice/img/divider-2.png') }}" alt="" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container bg-brown pt-5 pb-5">
            <div class="row pb-5">
                <div class="col-md-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_3.jpg') }}" alt="" />
                    </div>
                    <p>Que ce soit dans les plantations ou dans nos recettes, point de superflu&nbsp;!</p>
                    <p>De par leurs qualit&eacute;s botaniques, nos petits fruits rouges ne demandent qu&rsquo;une taille une fois par an que C&eacute;cile effectue de janvier &agrave; mars, au gr&eacute; de la m&eacute;t&eacute;o.</p>
                    <p>&nbsp;Pas d&rsquo;engrais, pas de d&eacute;sherbages chimiques, pas de produits phytosanitaires, seule la Nature fait son ouvrage. Et nous r&eacute;coltons ce qu&rsquo;Elle a bien voulu nous c&eacute;der&nbsp;!</p>
                    <p>Il en va de m&ecirc;me dans nos bassines et autres marmites&nbsp;: nos fruits et juste ce qu&rsquo;il faut de sucre, rien de plus&nbsp;! Pas de g&eacute;lifiants, pas de conservateurs, pas de colorants!</p>
                    <p>Aujourd&rsquo;hui, la qualit&eacute; et l&rsquo;authenticit&eacute;&nbsp; de nos produits confectionn&eacute;s par nos soins sont notre meilleure carte de visite.</p>
                    <p>N&rsquo;h&eacute;sitez &agrave; venir les d&eacute;couvrir, nous vous souhaitons une excellente d&eacute;gustation&nbsp;!</p>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_4.jpg') }}" alt="" />
                    </div>
                <p><strong><u>L&rsquo;&eacute;quipe des Cassis d&rsquo;Alice&nbsp;:</u></strong></p>
                <p><strong>- <u>Philippe&nbsp;: </u></strong>Agriculteur c&eacute;r&eacute;alier install&eacute; sur la ferme de ses parents depuis 2001, c&rsquo;est lui le garant de la partie c&eacute;r&eacute;ales. Il a suivi un cursus classique avec lyc&eacute;e agricole et installation &agrave; 21 ans sur la ferme. Jamais &agrave; court d&rsquo;id&eacute;e, il a toujours un projet sur le coin du feu! De plus en plus, nous mettons en place des pratiques vertueuses agronomiques avec des semis directs, des rotations longues, de vieilles vari&eacute;t&eacute;s en accord avec notre vision de l&rsquo;Agriculture. N&rsquo;h&eacute;sitez pas &agrave; lui poser des questions, il est intarissable sur le sujet&nbsp;! Co-g&eacute;rant avec son &eacute;pouse. (waouh, &ccedil;a en jette, comme qui dirait&nbsp;!)</p>
                <p><strong>- <u>C&eacute;cile&nbsp;: </u></strong>haut-marnaise de naissance mais de famille non agricole, elle a tout fait pour y revenir. En 2000, apr&egrave;s un Bac Litt&eacute;raire et un DEUG de Lettres Modernes, elle s&rsquo;oriente vers ses 1eres amours, &agrave; savoir le mara&icirc;chage. Apr&egrave;s avoir obtenu son dipl&ocirc;me en 2004, elle travaille quelques temps dans sa fili&egrave;re &agrave; Dijon mais n&rsquo;aspire qu&rsquo;&agrave; revenir en Haute-Marne. Elle est salari&eacute;e de la ferme de 2004 &agrave; 2008, avant d&rsquo;obtenir, enfin, le statut d&rsquo;agricultrice en avril 2009. Passionn&eacute;e depuis toute petite par les confitures et les conserves, il a &eacute;t&eacute; tr&egrave;s enthousiasmant pour elle de mettre en place les diff&eacute;rentes gammes des Cassis d&rsquo;Alice. Co-g&eacute;rante avec son &eacute;poux. (ronflant le titre, n&rsquo;est-ce pas&nbsp;?!)</p>
                <p><strong>- <u>S&eacute;verine&nbsp;: </u></strong>d&rsquo;abord embauch&eacute;e en CDD pour les p&eacute;riodes pr&eacute;sentant une suractivit&eacute;, elle devient vite indispensable et est salari&eacute;e &agrave; temps complet au sein de l&rsquo;entreprise depuis 2011. Elle s&rsquo;occupe de seconder C&eacute;cile &agrave; la transformation. Elle est devenue championne du collage d&rsquo;&eacute;tiquettes en un temps record&nbsp;! Polyvalente, elle s&rsquo;occupe &eacute;galement de pr&eacute;parer les commandes ainsi que des ventes au magasin ou sur salons.</p>
                <p><strong>- <u>Ang&eacute;lique&nbsp;: </u></strong>elle s&rsquo;occupe du secr&eacute;tariat 20 heures par mois depuis 2011. A elle le grand bonheur de classer, r&eacute;ceptionner, lister, faire des tableaux et envoyer tout un tas de documents&nbsp;! Elle s&rsquo;occupe d&rsquo;une grande partie des livraisons sur les p&eacute;riodes de fins d&rsquo;ann&eacute;e</p>
                <p>Et puis que serait l&rsquo;&eacute;quipe des Cassis d&rsquo;Alice sans nos parents respectifs, nos enfants et tous ceux qui nous soutiennent depuis le d&eacute;part&hellip;</p>
                <p>Infatigables travailleurs, indispensables testeurs de nos diff&eacute;rentes recettes, ind&eacute;fectibles soutiens, grands-parents attentifs plus sollicit&eacute;s qu&rsquo;&agrave; leur tour&nbsp;;&nbsp; qu&rsquo;ils trouvent ici l&rsquo;expression de notre profonde reconnaissance&nbsp;!<br /><br />(photo: <a title="Article sur Las Cassis d'Alice" href="https://www.delices-mag.com/gastronomie/saison/les-cassis-d-alice-au-pays-des-fruits-rouges/" target="_blank" rel="noopener">Copyright Maeva Destombes</a>)</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'front/layout/partial/partners.html.twig' %}
{% endblock %}
