{% extends "front/layout.html.twig" %}

{% block sections %}
    <div class="section">
        <div class="container bg-brown pt-4">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="background">Présentation</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container">
                        <h1>L'amour des fruits rouges</h1>
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_1.jpg') }}" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                    <p>Passionnés par notre métier et par les bonnes choses, nous choisissons de diversifier nos cultures et mettons en place 3 hectares de petits fruits rouges en 2006.</p>
                    <p>C'est ainsi que sont nés les Cassis d'Alice du prénom de l’arrière-grand-mère de Philippe. De cette dernière, nous avons gardé la recette de la liqueur de cassis, sa photo ainsi que le prénom qui nous a inspiré le nom de la marque.</p>
                    <p>Confitures, gelées,  sirops, crème de fruits... autant de raison de se lécher les babines !</p>
                    <p>Tous nos produits sont fabriqués par nos soins, de façon artisanale, sans colorants, sans conservateurs, avec pour souci constant, la qualité gustative de nos produits.</p>
                    <p>N'hésitez pas à venir nous découvrir !</p>
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container bg-brown pt-5">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <img src="{{ asset('template/cassis-alice/img/divider-2.png') }}" alt="" />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_2.png') }}" alt="" />
                    </p>
                </div>
                <div class="col-md-8 pt-5">
                    <h1 class="font-60">“ Des confitures sentent bon<br>confitures sentent bon ” </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <img src="{{ asset('template/cassis-alice/img/divider-2.png') }}" alt="" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container bg-brown pt-5 pb-5">
            <div class="row pb-5">
                <div class="col-md-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_3.jpg') }}" alt="" />
                    </div>
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                    <p>Passionnés par notre métier et par les bonnes choses, nous choisissons de diversifier nos cultures et mettons en place 3 hectares de petits fruits rouges en 2006.</p>
                    <p>C'est ainsi que sont nés les Cassis d'Alice du prénom de l’arrière-grand-mère de Philippe. De cette dernière, nous avons gardé la recette de la liqueur de cassis, sa photo ainsi que le prénom qui nous a inspiré le nom de la marque.</p>
                    <p>Confitures, gelées,  sirops, crème de fruits... autant de raison de se lécher les babines !</p>
                    <p>Tous nos produits sont fabriqués par nos soins, de façon artisanale, sans colorants, sans conservateurs, avec pour souci constant, la qualité gustative de nos produits.</p>
                    <p>N'hésitez pas à venir nous découvrir !</p>
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                </div>
                <div class="col-md-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ asset('template/cassis-alice/img/presentation_4.jpg') }}" alt="" />
                    </div>
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                    <p>Passionnés par notre métier et par les bonnes choses, nous choisissons de diversifier nos cultures et mettons en place 3 hectares de petits fruits rouges en 2006.</p>
                    <p>C'est ainsi que sont nés les Cassis d'Alice du prénom de l’arrière-grand-mère de Philippe. De cette dernière, nous avons gardé la recette de la liqueur de cassis, sa photo ainsi que le prénom qui nous a inspiré le nom de la marque.</p>
                    <p>Confitures, gelées,  sirops, crème de fruits... autant de raison de se lécher les babines !</p>
                    <p>Tous nos produits sont fabriqués par nos soins, de façon artisanale, sans colorants, sans conservateurs, avec pour souci constant, la qualité gustative de nos produits.</p>
                    <p>N'hésitez pas à venir nous découvrir !</p>
                    <p>Cécile et Philippe APERT sont agriculteurs céréaliers dans le sud de la Haute-Marne sur une ferme traditionnelle.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
