<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block">
                                <img class="img-responsive" src="{{ asset('template/cassis-alice/img/logo.png') }}" alt="" />
                            </span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img class="img-responsive" src="{{ asset('template/cassis-alice/img/logo.png') }}" alt="" />
                </div>
            </li>
            <li class="{% if app.request.attributes.get('_route') in ['admin_home'] %}active{% endif %}">
                <a href="{{ url('admin_home') }}">
                    <i class="fa fa-th-large"></i>
                    <span class="nav-label">Dashboard</span>
                </a>
            </li>
            <li class="{% if app.request.attributes.get('_route') in ['admin_products', 'admin_products_add', 'admin_product', 'admin_product_edit', 'admin_product_publish', 'admin_product_unpublish', 'admin_product_delete', 'admin_categories', 'admin_categories_add', 'admin_category_edit', 'admin_category_delete'] %}active{% endif %}">
                <a href="{{ url('admin_products') }}">
                    <i class="fa fa-cubes"></i>
                    <span class="nav-label">Gestion des produits</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="{% if app.request.attributes.get('_route') in ['admin_products', 'admin_products_add', 'admin_product', 'admin_product_edit', 'admin_product_publish', 'admin_product_unpublish', 'admin_product_delete'] %}active{% endif %}">
                        <a href="{{ url('admin_products') }}">Liste des produits</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') in ['admin_categories', 'admin_categories_add', 'admin_category_edit', 'admin_category_delete'] %}active{% endif %}">
                        <a href="{{ url('admin_categories') }}">Liste des catégories</a>
                    </li>
                </ul>
            </li>
            <li class="{% if app.request.attributes.get('_route') in ['admin_users', 'admin_orders', 'admin_order', 'admin_user_offers', 'admin_user_offers_add', 'admin_user_offer_edit', 'admin_user_offer_delete'] %}active{% endif %}">
                <a href="{{ url('admin_products') }}">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Gestion des clients</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="{% if app.request.attributes.get('_route') in ['admin_users'] %}active{% endif %}">
                        <a href="{{ url('admin_users') }}">Liste des clients</a>
                    </li>
                    {#
                    <li class="{% if app.request.attributes.get('_route') in ['admin_bills'] %}active{% endif %}">
                        <a href="#">Liste des factures</a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') in ['admin_orders', 'admin_order'] %}active{% endif %}">
                        <a href="{{ url('admin_orders') }}">Liste des commandes</a>
                    </li>
                    #}
                    <li class="{% if app.request.attributes.get('_route') in ['admin_user_offers', 'admin_user_offers_add', 'admin_user_offer_edit', 'admin_user_offer_delete'] %}active{% endif %}">
                        <a href="{{ url('admin_user_offers') }}">Liste des offres</a>
                    </li>
                </ul>
            </li>
            <li class="{% if app.request.attributes.get('_route') in ['admin_static_pages', 'admin_static_pages_add', 'admin_static_page', 'admin_static_page_edit', 'admin_static_page_publish', 'admin_static_page_unpublish', 'admin_static_page_delete', 'admin_menus'] %}active{% endif %}">
                <a href="{{ url('admin_products') }}">
                    <i class="fa fa-file-text"></i>
                    <span class="nav-label">Gestion des contenus</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li class="{% if app.request.attributes.get('_route') in ['admin_static_pages', 'admin_static_pages_add', 'admin_static_page', 'admin_static_page_edit', 'admin_static_page_publish', 'admin_static_page_unpublish', 'admin_static_page_delete'] %}active{% endif %}">
                        <a href="{{ url('admin_static_pages') }}">
                            <span class="nav-label">Liste des pages</span>
                        </a>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') in ['admin_menus'] %}active{% endif %}">
                        <a href="{{ url('admin_menus') }}">
                            <span class="nav-label">Liste des menus</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ url('admin_newsletters') }}">
                    <i class="fa fa-newspaper-o"></i>
                    <span class="nav-label">Actualités</span>
                </a>
            </li>
            <li>
                <a href="{{ url('admin_galleries') }}">
                    <i class="fa fa-image"></i>
                    <span class="nav-label">Galerie photo</span>
                </a>
            </li>
            <li>
                <a href="{{ url('admin_point_of_sales') }}">
                    <i class="fa fa-image"></i>
                    <span class="nav-label">Points de ventes</span>
                </a>
            </li>
            <li>
                <a href="{{ url('admin_partners') }}">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">Partenaires</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
