<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Nos Produits</h3>
                <ul>
                    {% for category in categories %}
                        <li><a href="{{ path('front_category', {slug: category.slug}) }}">{{ category.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Les Cassis d'Alice</h3>
                <ul>
                    {% for menu in menus %}
                        <li><a href="{{ path( menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.pageName }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Nos dernières actus</h3>
                <ul>
                    {% for newsletter in newsletters %}
                        <li><a href="{{ path('front_newsletter', {slug: newsletter.slug}) }}">{{ newsletter.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Espace Professionnels</h3>
                <ul>
                    <li><a href="#">Connexion</a></li>
                </ul>
                <h2 class="mt-6">Réseaux Sociaux</h2>
                <p>
                    <i class="fa fa-facebook mr-2"></i>
                    <i class="fa fa-google-plus mr-2"></i>
                    <i class="fa fa-twitter mr-2"></i>
                    <i class="fa fa-instagram mr-2"></i>
                </p>
            </div>
        </div>
        <p class="mt-2">
            <span><a href="{{ path('front_static_page', {'slug': 'mentions-legales'}) }}">Mentions Légales - 2017</a></span>
            <span class="pull-right">Made by Agence Holorime & Geoffrey Chameroy</span>
        </p>
    </div>
</footer>
