<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p><em>Coutellerie Legendre</em><br>35, rue Diderot<br>52200 LANGRES</p>
                <p class="m-t-md"><em>Tél. :</em> 00.00.00.00.00</p>
                <p class="m-t-md"><em>Horaires d’ouverture</em><br>du Lundi au Samedi<br>de 9h30 à 1200 et 14h00 à 19h00</p>
            </div>
            <div class="col-sm-4">
                <p>
                    <em>Menu</em>
                    {% for menu in menus %}
                        <br><a href="{{ url(menu.routeName, {slug: menu.routeSlug}) }}">{{ menu.pageName }}</a>
                    {% endfor %}
                    <br><a href="{{ path('front_privacy') }}">Conditions Générales d’utilisation et de Ventes</a>
                </p>
            </div>
            <div class="col-sm-4">
                <img class="m-t-lg img-responsive" src="{{ asset('template/coutellerie/img/img_footer.png') }}" alt="">
            </div>
        </div>
    </div>
    <div class="legal-notice">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">2018 - <a href="{{ path('front_privacy') }}">Mentions Légales</a> - Made by Agence Holorime & Geoffrey Chameroy</p>
                </div>
            </div>
        </div>
    </div>
</footer>
