{% extends "front/layout.html.twig" %}

{% block sections %}
    <section class="products-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">{{ category.label }}</h2>
                    <div class="row products">
                        {% for product in products %}
                            <div class="col-md-4 product">
                                <p class="text-center">
                                    <img src="{{ asset('template/coutellerie/img/img_product_separator.png') }}" alt="">
                                </p>
                                <h3 class="text-center">{{ product.label }}</h3>
                                <p class="product-image text-center">
                                    {% if product.images|length > 0%}
                                        <img class="img-responsive img-circle img-shadow" src="{{ path('product_image_view', {'product_id': product.id, 'image_id': product.images[0].id}) }}" height="320" alt="">
                                    {% else %}
                                        <img class="img-responsive img-circle img-shadow" src="{{ path('product_image_view', {'product_id': 0, 'image_id':0}) }}" height="320" alt="">
                                    {% endif %}
                                </p>
                                <ul class="product-price">
                                    <li>
                                        <span>Prix:</span>
                                        <span>{{ product.price|number_format(2, '.', ' ') }}€</span>
                                    </li>
                                </ul>
                                <br class="clear">
                                <p class="text-center m-t-lg m-b-lg">
                                    <a href="{{ path('front_product', {'product': product.id}) }}" class="btn btn-primary">+ de détails</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <ul class="pagination">
                                <li><a href="{{ path('front_products', {category: category.id, page: page - 1}) }}"><i class="fa fa-angle-double-left"></i></a></li>
                                {% for i in 1..nbPage %}
                                    <li class="{% if page == i %}active{% endif %}">
                                        <a href="{{ path('front_products', {category: category.id, page: i}) }}">{{ i }}</a>
                                    </li>
                                {% endfor %}
                                <li><a href="{{ path('front_products', {category: category.id, page: page + 1}) }}"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
