{% extends "front/layout.html.twig" %}

{% block meta %}<meta name="description" content="{{ product.descriptionSEO }}">{% endblock %}

{% block title product.titleSEO %}

{% block sections %}
    <section class="section-product">
        <div class="container">
            <p class="m-t-md">
                <a href="{{ path('front_products', {'category': product.category.slug, 'page': 1}) }}" class="return-link">
                    <i class="fa fa-chevron-left m-r-sm"></i>
                    <span>Retour aux produits</span>
                </a>
            </p>
            <h2 class="text-center">{{ product.label }}</h2>
            <div class="row m-t-lg">
                <div class="col-md-6">
                    <div class="row products">
                        <div class="col-md-12 product">
                            <p class="text-center">
                                <img src="{{ asset('template/coutellerie/img/img_product_separator.png') }}" alt="">
                            </p>
                            <h3 class="text-center">{{ product.label }}</h3>
                            <p class="product-image text-center">
                                {% if product.images|length > 0 %}
                                    <img class="img-responsive img-circle img-shadow" src="{{ path('product_image_view', {'product_id': product.id, 'image_id': product.images[0].id}) }}" alt="">
                                {% else %}
                                    <img class="img-responsive img-circle img-shadow" src="{{ path('product_image_view', {'product_id': 0, 'image_id':0}) }}" height="320" alt="">
                                {% endif %}
                            </p>
                            <ul class="product-price">
                                <li>
                                    <span>Prix:</span>
                                    <span>{{ product.price|number_format(2, '.', ' ') }}€</span>
                                </li>
                            </ul>
                            <br class="clear">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <aside class="aside">
                        <div class="aside-container">
                            <h3>{{ product.label }}</h3>
                            <p>{{ product.description|nl2br }}</p>
                        </div>
                    </aside>
                </div>
            </div>
            {{ render(controller('AppBundle:Front/CartProduct:add', {product: product.id})) }}
        </div>
    </section>
    {{ render(controller('AppBundle:Front/Home:products', {'max': 3})) }}
{% endblock %}
