{% extends "front/layout.html.twig" %}

{% block meta %}<meta name="description" content="{{ product.descriptionSEO }}">{% endblock %}

{% block title product.titleSEO %}

{% block sections %}
    <section class="section-product">
        <div class="container bg-brown pt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="row products">
                        <div class="col-md-12 product">
                            <p class="product-image text-center">
                                {% if product.image %}
                                    <img class="img-fluid" src="{{ path('product_image_view', {'image_id': product.image.id}) }}" alt="">
                                {% else %}
                                    <img class="img-fluid" src="{{ path('product_image_view', {'image_id': 0}) }}" height="320" alt="">
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>{{ product.label }}</h2>
                    <hr class="dotted mt-2 mb-1">
                    <p class="text-primary">Réf : {{ product.reference }}</p>
                    <p class="mt-5">{{ product.description|nl2br }}</p>
                    {% if product.variants|length > 1 %}
                        <p class="text-primary">Nos divers contenants :</p>
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-center">
                                    {% if product.image %}
                                        <img class="img-fluid" src="{{ path('product_image_view', {'image_id': product.image.id}) }}" alt="">
                                    {% else %}
                                        <img class="img-fluid" src="{{ path('product_image_view', {'image_id': 0}) }}" height="320" alt="">
                                    {% endif %}
                                </p>
                                <h3 class="text-center">{{ product.variantName }}</h3>
                            </div>
                            {% for variant in product.variants %}
                                <div class="col-md-4">
                                    <p class="text-center">
                                        {% if variant.image %}
                                            <img class="img-fluid" src="{{ path('product_image_view', {'image_id': variant.image.id}) }}" alt="">
                                        {% else %}
                                            <img class="img-fluid" src="{{ path('product_image_view', {'image_id': 0}) }}" height="320" alt="">
                                        {% endif %}
                                    </p>
                                    <h3 class="text-center">{{ variant.variantName }}</h3>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row mt-4 pb-5">
                <div class="col-md-12 px-5 mb-5">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#learn-more" role="tab">En savoir plus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#ingredients" role="tab">Ingrédients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tasting-tips" role="tab">Conseils dégistation</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="learn-more" role="tabpanel">
                            <p>{{ product.more1|nl2br }}</p>
                        </div>
                        <div class="tab-pane" id="ingredients" role="tabpanel">
                            <p>{{ product.more2|nl2br }}</p>
                        </div>
                        <div class="tab-pane" id="tasting-tips" role="tabpanel">
                            <p>{{ product.more3|nl2br }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'front/layout/partial/baseline.html.twig' %}
    {% include 'front/layout/partial/partners.html.twig' %}
{% endblock %}
